body,html{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-size:30px;
}
header{
    background-color:#59635b;
}
.nav{
	height:60px;
	line-height:60px;
	text-align:right;
	position:relative;
}
.menu a{
	text-decoration:none;
	color:#000;
	line-height:70px;
	margin:0 10px;
	clear:right;
}
label{
	margin-right:20px;
	line-height:60px;
	display:none;
	width:30px;
	float:right;
    
}
#toggle{
	display:none;
}

main{
	
	padding:0;
	margin:0;
}
.title_name{
    float: left;
    padding-left: 5%;
    color: white;
    letter-spacing: 2px;
}
.footer{
    background-color: #59635b;
    color: white;
     display: block;
    text-align: center;
    font-size: 20px;
    
}
#color_name_background{
    background-color: #6c756e;  
}
.name_title_desciption{
    display: block;
    text-align: center;
    font-weight: 200;
    padding: 1% 2%;
}
@media only screen and (max-width:576px){
	label{
		display:block;
		cursor:pointer;
	}
	.menu{
		text-transform:uppercase;
		text-align:center;
		display:none;
		background:rgba(0,0,0,0.4);
        z-index: 1;
	}
	.menu a{
		display:block;
		margin:0;
        font-weight: 600;
        letter-spacing: 2px;
	}
#toggle:checked+ .menu{
	display:block;
	}
	.hamburger{
		color:white;
	}
}
@media (min-width:300px){   
    
    .foreground{
        width:100%;
        display: block;
    }
    .menu a{
        color: white;
    }
    .name_title_desciption{
        color:lightcoral;
        font-size: 25px; 
        margin: 0;
    }
    .types{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .klasa{
        width:85%;
        padding: 2% 0;
        font-size: 1em;
    }
    .font_size_text{
        font-size: 0.6em;
        text-align: justify;
        padding: 1% 3%;
    }
    .types h1{
      font-size: 0.7em;  
    }
    .menu a:focus{
       color: #549c68; 
    }
   
}
@media (min-width:576px){
    
    .klasa{
        font-size: 0.8em;
    }
     .types h1{
      font-size: 1em;  
    }
}
@media (min-width:992px)
{
    .menu a:hover{
       color: #549c68; 
    }
    .types{
    display: flex;
    flex-direction: row;
    }
    .klasa{
        padding: 2% 1%;
        text-align: center;
    }
    .types h1{
        font-size: 0.8em;
        padding-left: 1%;
        text-align: center;
    }
}
